<%- include("partials/header.ejs") %>
  
<center class="container py-5">
  <h2>Contact</h2>
  <p class="fs-4"><%= contactContent %></p>

  <div class="container btn-align d-grid align-items-center py-5">
    <a class="p-3 fs-5 m-2 rounded-pill">Github</a>
  </div>

  <span class="placeholder col-12"></span>

<span class="placeholder col-12 bg-primary"></span>
<span class="placeholder col-12 bg-secondary"></span>
<span class="placeholder col-12 bg-success"></span>
<span class="placeholder col-12 bg-danger"></span>
<span class="placeholder col-12 bg-warning"></span>
<span class="placeholder col-12 bg-info"></span>
<span class="placeholder col-12 bg-light"></span>
<span class="placeholder col-12 bg-dark"></span>
</center>








<%- include("partials/footer.ejs") %>