<%- include("partials/header.ejs") %>


  
<div class="container pt-5 text-dark">
  <a href="/" class="text-dark"> &lArr; Back</a>
</div>
<center class="container pb-3">
  <h2 class="pt-5"><%= title %></h2>
</center>
<div class="container pb-5">
  <p class="fs-4"><%= post %></p>
</div>





<%- include("partials/footer.ejs") %>